/* フッター */
.footer {
	padding: 60px 0;
	position: relative;
	color: #fff;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 2;
		width: 84%;
		max-width: 1147px;
		margin: 0 auto;
		border: 1px solid red;
	}

	.back {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.site {
		text-align: center;
		p {
			margin-top: 20px;
			margin-bottom: 50px;
			font-size: 14px;
		}
	}
}


@media (min-width: 768px) {
	.footer {
		padding-top: 120px;
		padding-bottom: 120px;

		.container {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		.site {
			text-align: left;
		}
		.site p {
			margin-top: 10px;
			margin-bottom: 0;
			font-size: 18px;
		}
	}
}



.site img {
	width: auto;
	max-width: 100%;
}

svg {
	vertical-align: bottom;
}

/* SNSメニュー */
.sns {
	display: flex;
	list-style: none;
	font-size: 40px;
}

.sns li:not(:last-child) {
	margin-right: 30px;
}

