.header {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	h1 {
		position: absolute;
		top: 30%;
		left: 45%;
		font-size: 6rem;
		transform: translate(-50%, -50%);
		font-weight: 500;
		background-color: saddlebrown;
		padding: 10px 20px;
	}
	.imgWrapper {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 43%;
		height: 90vh;
	}
}

@media screen and (max-width: 768px) {
	.header {
		.imgWrapper {
			width: 85%;
			height: 50%;
			transform: translate(-50%, -60%);
		}
	}	
}
