$main-color: #399;

html {
  font-size: 62.5%;
	font-family: 'Avenir Next', 'Segoe UI', Helvetica, sans-serif;
	color: #444;
  background-color: rgb(247, 244, 234);
}

a {
  &:hover {
    color: $main-color;
  }
}