/*
.container {
	width: 84%;
	max-width: 1147px;
	margin: 0 auto;
}

/* 見出しの装飾 
.bar {
	padding-bottom: 16px;
	position: relative;
}
.bar::before,
.bar::after {
	display: block;
	content: '';
	background-color: #0facde;
	width: 80%;
	height: 1px;
	position: absolute;
}
.bar::before {
	left: 0;
	bottom: 6px;
}
.bar::after {
	right: 0;
	bottom: 0;
}

.content .bar::before {
	width: 200px;
}

@media (min-width: 768px) {
	.bar {
		max-width: 375px;
		margin-left: auto;
		margin-right: auto;
	}

	.bar::before,
	.bar::after {
		width: 73%;
	}

	.content .bar {
		max-width: none;
	}
	.content .bar::before {
		width: 312px;
	}
	.content .bar::after {
		width: 81%;
	}
}


/* コンテンツ 
.content {
	padding-top: 50px;
	padding-bottom: 40px;
}

.content .container {
	max-width: 785px;
}

.content h1 {
	margin-bottom: 25px;
	font-size: 24px;
}

.postbody > * {
	margin-bottom: 2em;
}
.postbody h2 {
	margin-top: 2.5em;
	margin-bottom: 1.5em;
	font-size: 20px;
}
.postbody h2 [class*="fa-"] {
	margin-right: 15px;
	color: #477294;
}

.postbody p {
	line-height: 1.8;
}
.postbody ul {
	padding-left: 30px;
}
.postbody li:not(:last-child) {
	margin-bottom: 1em;
}

@media (min-width: 768px) {
	.content {
		padding-top: 70px;
		padding-bottom: 60px;
	}

	.content h1 {
		margin-bottom: 40px;
		font-size: 38px;
	}

	.postbody h2 {
		font-size: 28px;
	}
}

/* コンテンツの情報 
.info {
	margin-bottom: 43px;
	color: #477294;
	font-size: 14px;
}
.info [class*="fa-"] {
	margin-right: 10px;
}


/*
#################################
ブログ
#################################

/* ブログ記事の情報 
.info time {
	margin-bottom: 5px;
}

.info .cat ul {
	list-style: none;
	display: inline-flex;
}
.info .cat li:not(:last-child)::after {
	content: '・';
	margin: 0 5px;
}

@media (min-width: 768px) {
	.info {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
	}
}


/* 前後の記事へのリンク */
.postlink {
	margin-top: 4em;
	list-style: none;
	color: #477294;
	font-size: 14px;
	display: flex;
}

.postlink li {
	width: 48%;
	display: flex;
	align-items: center;
}

.postlink a {
	display: flex;
	align-items: center;
}

.postlink .next {
	margin-left: auto;
	justify-content: flex-end;
}

.postlink .prev [class*="fa-"] {
	margin-right: 10px;
}
.postlink .next [class*="fa-"] {
	margin-left: 10px;
}


/* ブログ記事一覧ページ 
.bloglist .container {
	max-width: 1000px;
}

.bloglist .posts {
	padding-top: 20px;
	padding-bottom: 20px;
}


/* ページネーション 
.pagenation {
	margin-top: 1.8em;
	list-style: none;
	display: flex;
}

.pagenation .next {
	margin-left: auto;
}

.pagenation a {
	width: 7em;
	padding: 0.5em 1em;
	border-radius: 1em;
	background-color: #477294;
	color: #fff;
	font-size: 14px;
	display: flex;
	align-items: center;
}
.pagenation .next a {
	justify-content: flex-end;
}

.pagenation .prev [class*="fa-"] {
	margin-right: 10px;
}
.pagenation .next [class*="fa-"] {
	margin-left: 10px;
}

*/